@import '../../style.module.scss';

.container {

    @include flex-column-center;
    width: 100%;
    gap: $spacing-large;
    padding: $spacing-large;
    background-color: #FFFDFA;



    .content {
        @include flex-column;
        width: 100%;
        gap: $spacing-large;
        padding: $spacing-large;



    }

    .title {
        @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
        font-weight: 600;

        span {
            color: $pink-dark;
        }

    }

    .text {
        @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
        font-weight: 400;

    }

    .form {
        @include flex-column;
        width: 100%;
        gap: $spacing-large;
        padding: $spacing-large;


        border-radius: 5px;

        .input {
            @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
            font-weight: 400;
            padding: $spacing-small;
            border: 1px solid $pink;
            border-radius: 5px;
            width: 100%;
            height: 100%;
            background-color: $pink;

            //placeholder color
            &::placeholder {
                color: $orange-dark;
            }
        }

        .button {
            @include button($orange-dark, $orange, $pink);
            padding: $spacing-small;
            margin-left: $spacing-small;
            @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
            font-weight: 600;
            //normal width
            width: 10rem;
        }

    }

    .imgBox {
        width: 100%;
        height: 100%;

        .img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 5px;
        }

    }


}