// @import '../../App.module.scss';
@import '../../style.module.scss';

.container {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    color: $orange-dark;
    background-color: $pink-light;
    padding: $spacing-large;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;



    .left {
        @include flex-row;

        .links {
            @include flex-row;
            display: none;

            @include tablet {
                display: flex;
            }



            .link {
                @include button($orange-dark, $yellow, $yellow);
                padding: $spacing-small;
                margin-left: $spacing-small;
                font-weight: 600
            }

        }
    }



    .right {
        @include flex-row;

        display: none;

        @include tablet {
            display: flex;
        }

        .signin {}

        .register {
            @include button($orange-dark, $pink, $yellow);
            padding: $spacing-small;
            margin-left: $spacing-small;
            @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
            font-weight: 600;
        }


    }

    .logo {
        @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
        font-weight: 600;
        background-color: $orange;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        @include flex-center;

    }

    .select {
        @include button($orange-dark, $yellow, $yellow);
        padding: $spacing-small;
        font-weight: 600;
        width: 40%;

        //on focus  remove border
        &:focus {
            outline: none;
        }



        @include tablet {
            display: none;
        }



    }







}