@import '../../src/App.module.scss';

.container {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    color: $pink-light;
    background-color: $pink-dark;
    padding: $spacing-large;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;



    .left {
        @include flex-row;

        .links {
            @include flex-row;

            .link {
                @include button($pink-light, $pink-dark, $yellow);
                padding: $spacing-small;
                margin-left: $spacing-small;
            }

        }
    }



    .right {
        @include flex-row;

        .signin {}

        .register {
            @include button(#331b0f, $pink, $yellow);
            padding: $spacing-small;
            margin-left: $spacing-small;
        }


    }

}