@import '../../style.module.scss';

.container {
    @include flex-column;
    width: 100%;
    background-color: $pink-light;
    height: auto;
    padding: $spacing-large ;
    gap: $spacing-large;

    @include tablet {
        @include flex-row;

    }


    .buisiness {
        @include flex-column;
        width: 100%;

        @include tablet {
            width: 50%;
        }




        .title {
            @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
            font-weight: 600;

            span {
                color: $pink-dark;
            }

        }

        .text {
            @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
            font-weight: 400;

        }
    }

    .links {
        @include flex-column;
        width: 100%;
        list-style: none;
        position: relative;




        .link {
            @include flex-column;
            width: 100%;

            p //get rid of left padding

            &:first-child {
                padding-left: 0;
            }


        }
    }

    .contact {}
}