@import '../../style.module.scss';


.container {
    @include flex-column;
    width: 100%;
    height: auto;
    gap: $spacing-large;
    padding: $spacing-large;
    background-color: $pink-light;

    .content {
        @include flex-column;
        width: 100%;
        gap: $spacing-large;
        padding: $spacing-large;
        border: 1px solid $pink;
        border-radius: 5px;



        .title {
            @include fluid-type($breakpoint-small, $breakpoint-large, 3rem, $font-size-base);
            font-weight: 600;
        }

        .text {
            @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
            font-weight: 400;
        }

        .button {
            @include button($orange-dark, $yellow, $pink);
            padding: $spacing-small;
            margin-left: $spacing-small;
            @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-base);
            font-weight: 600;
        }

    }

    .imgBox {
        width: 100%;
        height: 100%;

        @include flex-row;
        gap: $spacing-large;
        overflow: hidden;
        overflow-x: auto;

    }

    .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;


    }

}