@import './style.module.scss';

* {
    @include box-sizing;
    @include transition;

    padding: 0;
    margin: 0;

}

.App {
    @include box-sizing;
    @include transition;

    font-family: $font-family-primary;
    @include fluid-type($breakpoint-small, $breakpoint-large, $font-size-small, $font-size-large);

    color: $orange-dark;
    background-color: $yellow;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: $orange-dark;
    position: relative;

    @include keyframes(fadeIn) {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @include animation(fadeIn 1s ease-in-out);


}